@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Six+Caps&family=Staatliches&family=Urbanist:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #D2D2D2 ;
    overflow-x: hidden;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 150px;
    gap: 250px;
}

.fone {
    width: 100%;
}

.itens {
    position: relative;
    font-family: 'Six Caps', sans-serif;
    font-size: 32px;
    top: -750px;
    font-weight: 400px;
    color: #000000;
}

.titulo {
    position:absolute;
    font-family: 'Staatliches', cursive;
    font-size: 58px;
    top: 350px;
    left: 800px;
    font-weight: 400px;
    
}

.redes1 {
    width: 71px;
    position:absolute;
    top: 500px;
    left: 1270px;
}

.redes2 {
    width: 60px;
    position:absolute;
    top: 570px;
    left: 1275px;
}

.retanguloG {
    position: absolute;
    left: 70px;
    top: 900px;
}

.gatinho {
    position:absolute;
    left: 100px;
    top: 935px;
}

.playlist {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 43px;
    position:absolute;
    left: 500px;
    top: 1200px;
}

.autor {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
    position:absolute;
    left: 500px;
    top: 1250px;
}

.texto {
    font-family: 'Six Caps', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    position:absolute;
    left: 775px;
    top: 950px;
    width: 35%
}

.retanguloP {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    left: 70px;
    top: 580px;
}
.fotos {
    width: 58px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    left: 83px;
    top: -205px;
}
.musicas {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: 160px;
    top: -965px;
    font-family: 'Six Caps', sans-serif;
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    width: 500px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

iframe {
    position: absolute;
    top: 620px;
    left: 75px;
}

section {
    height: 10px;
}


/* ------------------------------------------------ PAGINAS MUSICAS -----------------------------------------*/

.tamanhoMus {
    padding-bottom: 80px;
}

.itensP {
    position: relative;
    font-family: 'Six Caps', sans-serif;
    font-size: 32px;
    top: 10px;
    font-weight: 400px;
    color: #000000;
}

.retanguloMusicas {
    position: absolute;
    left: 70px;
    top: 150px;
}

.gatinho2 {
    position:absolute;
    left: 100px;
    top: 185px;
}

.nomeMus {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 43px;
    position:absolute;
    left: 500px;
    top: 450px;
}

.nomeAut {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
    position:absolute;
    left: 500px;
    top: 500px;
}

.letraMus {
    font-family: 'Urbanist', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 33px;
    position:absolute;
    left: 100px;
    top: 800px;
}

.spotify {
    position:absolute;
    left: 830px;
    top: 460px
}
.emicida {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
    position:absolute;
    left: 500px;
    top: 550px;
}
